.deck-container .theme-menu {
  display: none;
  position: fixed;
  z-index: 3;
  bottom: 10px;
  left: 10px;
  height: 20px;
  line-height: 20px;
  padding: 5px;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  font-family: sans-serif;
  color: #888;
}
.js .deck-container .theme-menu {
  display: block;
}
.deck-container .theme-menu h2 {
  float: left;
  font-size: 20px;
  border: 0;
  padding: 5px 10px;
  margin: 0;
  height: 20px;
  position: relative;
  top: -5px;
  left: -5px;
  background: #ccc;
  color: #444;
  text-shadow: none;
  font-family: sans-serif;
  font-weight: bold;
}
.deck-container .theme-menu label {
  float: left;
  display: block;
  font-size: 12px;
  vertical-align: baseline;
  margin: 0 4px 0 15px;
}
.deck-container .theme-menu select {
  float: left;
  display: block;
  font-size: 14px;
}

@media print {
  .theme-menu {
    display: none !important;
  }
}

/* sudo hackday */

@import url("http://fonts.googleapis.com/css?family=Dosis:400,800");

.deck-container {
    font-family: Dosis, sans-serif;
}

.deck-container > .slide {
    background: #fff;
    color: #000;
    /* reset padding */
    padding: 0;
    width: 100%;
    font-size: 200%;
}

.deck-container > .title {
    padding-top: 1em !important;
    font-size: 4em;
    background: #2F81C2;
}

.csstransforms .deck-container .title > * {
    -webkit-transform: rotate(-3deg); 
    -moz-transform: rotate(-3deg); 
}

.title h1 {
    text-align: left;
    margin: 0;
}

.title p {
    margin: 0.25em 0;
    font-size: 1.25em;
    color: #fff;
}

.slide h1 {
    background: #1C2C56;
    color: #fff;
    padding: 20px;
    margin: 0;
    font-weight: 800;
}

.contact h2 {
    background: #1C2C56;
    color: #fff;
    padding: 20px;
    margin: 0 0 0.25em 0;
    display: inline-block;
    font-weight: 800;
    font-size: 1em;
}

.deck-container .title h1 {
    padding: 20px;
    margin: 0;
}

/* add padding to children */

.slide h2, .slide p, .slide pre {
    padding: 0 20px;
}

/* new code style */

#bd code, #bd pre {
    background: #efefef;
    text-shadow: none;
}

#bd pre {
    margin-left: 25px;
}

.slide a {
    color: #333;
}

/* end hackday */

#ft {
    position: absolute;
    bottom: 0;
    line-height: 28px;
}

/*
.title {
    background: url(title.png);
    padding-top: 170px;
    padding-left: 30px;
    height: 580px;
    width: 990px;
    border: 1px solid #8c00a8;
    border-width: 0 1px 1px 0;
    font-size: 64px;
}

.title * {
    width: 900px;
    font-weight: 100;
    border-bottom: 1px solid #fff;
}
*/

.inline li {
    float: left;
    list-style: none;
    padding: 10px;
    margin: 7px;
    background: #232323;
    font-weight: bold;
    font-size: 180%;
}

.inline li:last-child {
    background: #343434;
}

.inline a {
    text-align: center;
}

.bigtext p,
.bigtext li {
    font-size: 200% !important;
}

.contact ul {
    font-size: 150%;
    margin: 0;
    padding: 0.5em;
    display: inline-block;
    border: 1px solid #2F81C2;
    background: #87CBFF;
}

.contact li a {
    color: #1C2C56;
    text-decoration: none;
}

.contact li {
    margin: 0;
    padding: 0;
    list-style: none;
}
    
iframe {
    width: 100%;
    height: 90%;
    border: 0;
}

.deck-container h2 {
    border-color: #1C2C56;
}
